<div>
  <button mat-raised-button color="accent" (click)="openNewRoomModal()">New Room</button>
</div>
<div class="col-lg-12 categories">
  <div class="card col-md-offset-2 col-md-8">
    <h3 class="list-title">All Rooms in House </h3>
    <div class="mat-list-item" *ngFor="let room  of rooms">
      <div class='mat-card'>
        <div class='mat-card-content'>
          <h3>{{ room.roomName }}</h3>
          {{room.roomType}}
        </div>
          <button mat-flat-button color="accent" [routerLink]="['/rooms', room.id]">
            Go to house
          </button>
          <button mat-flat-button color="accent">Edit House</button>
          <button mat-flat-button color="accent">Delete House</button>
        </div>
    </div>
  </div>
</div>
