
<div class="alert-modal">
  <h3 class="alert-modal-title">Delete House</h3>
  <span class="alert-modal-text">Are you sure to delete this house?</span>
  <div>
    <div>

    </div>
    <div class="alert-modal-buttons">
      <button mat-raised-button color="primary"class="btn alert-modal-button alert-modal-button-success" (click)="openDeleteModal()">Yes</button>
      <button mat-raised-button class="alert-modal-button alert-modal-button-failure" (click)="onCloseCancel()">No</button>
    </div>
  </div>
</div>
